<div class="px-5 md:px-45 py-5 min-h-screen md:h-screen">
  <div class="flex justify-between p-5 bg-rose-200 rounded-xl items-center" appScrollAnimation>
    <div class="flex items-center">
      <mat-icon class="mr-3">light_mode</mat-icon>
      <span class="text-rose-800 font-bold text-2xl">Quirin Langer</span>
    </div>
    <div class="hidden justify-between gap-5 md:flex">
      <div class="text-rose-800 uppercase font-bold cursor-pointer" (click)="scrollToProjects()">Projects</div>
      <div class="text-rose-800 uppercase font-bold">About</div>
      <div class="text-rose-800 uppercase font-bold">Resume</div>
    </div>
  </div>
  <div class="grid grid-cols-10 gap-5 mt-5 min-h-90/100 md:h-90/100">
    <div class="flex flex-col col-span-10 md:col-span-7 h-full">
      <div class="grid grid-cols-7 gap-5 mb-5">
        <mat-card class="col-span-7 md:col-span-4" appScrollAnimation>
          <mat-card-header class="hidden md:block">
            <mat-card-title><mat-icon>token</mat-icon></mat-card-title>
          </mat-card-header>
          <mat-card-content class="h-full flex content-end">
            <p class="text-2xl font-heading">Software Engineer, Petrol Head,</p>
            <p class="text-2xl font-heading">Pokémon Enthusiast, Idiot</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-7 md:col-span-3" appScrollAnimation>
          <img class="rounded-xl" src="/portrait.jpg" />
        </mat-card>
      </div>

      <div class="grid grid-cols-7 gap-5 h-full">
        <mat-card class="col-span-7 md:col-span-5" appScrollAnimation>
          <mat-card-header>
            <mat-card-title><mat-icon>person</mat-icon></mat-card-title>
          </mat-card-header>
          <mat-card-content class="h-full flex content-end">
            <p class="text-lg text-justify">
              <span class="italic font-bold">Servus, </span>I am Quirin, a
              professional Software Engineer based in Regensburg, Bavaria. I
              love to provide customers with well-functioning, easy-to-use and
              helpful software. I'm best known for explaining highly complex
              technical issues in an easy-to-understand manner.
            </p>
          </mat-card-content>
        </mat-card>
        <div class="col-span-7 md:col-span-2 gap-5 grid grid-cols-7">
          <mat-card class="col-span-5 md:col-span-7" appScrollAnimation>
            <mat-card-content>
              <p class="text-lg">
                Im currently working on something - Github Link ? CV LINK ?
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="col-span-2 md:col-span-7" appScrollAnimation>
            <mat-card-content>
              <div class="flex items-center justify-between">
                <span class="text-lg">Say Hi!</span>
                <mat-icon>arrow_right_alt</mat-icon>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="flex col-span-10 md:col-span-3 flex-col gap-5">
      <mat-card class="h-full" appScrollAnimation>
        <mat-card-header>
          <mat-card-title>
            <div class="flex">
              <mat-icon class="mr-3">newspaper</mat-icon>
              <span class="font-bold">Blogposts</span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for (item of blogEntries; track $index) { @if ($index !== 0) {
          <mat-divider></mat-divider>
          }
          <a
            target="_blank"
            rel="noopener noreferrer"
            [href]="item.href + $index"
            class="flex gap-5 items-center my-2"
          >
            <mat-icon class="m-3">{{ item.icon }}</mat-icon>
            <div>
              <p class="text-lg font-heading">{{ item.title }}</p>
              <p class="text-md text-[#5F5F5F]">{{ item.subtitle }}</p>
            </div> </a
          >}
        </mat-card-content>
      </mat-card>
      <div class="grid grid-cols-8 gap-5">
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="https://www.linkedin.com/in/quirin-langer"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg  font-bold">LinkedIn</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="https://github.com/Suneeh"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg  font-bold">Github</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="mailto:qu.langer@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg font-bold">Mail</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="https://www.instagram.com/suneeh1338/"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg  font-bold">Instagram</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div id="featured-projects" class="px-5 md:px-45 py-5">
  <span class="text-3xl font-heading" appScrollAnimation>Featured Projects</span>
  <div class="mt-10 grid grid-cols-10 gap-5">
    @for (project of projectEntries; track $index) {
    <a target="_blank" rel="noopener noreferrer" [href]="project.url" class="col-span-10 md:col-span-5">
      <mat-card appScrollAnimation class="h-full">
        <img class="rounded-t-xl w-full" [src]="project.imageSrc" />
        <mat-card-header>
          <mat-card-title><span class="font-bold">{{ project.title }}</span></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-lg text-justify text-[#5F5F5F]">
            {{ project.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    }
  </div>
</div>

<div class="px-5 md:px-45 py-5">
  <mat-card appScrollAnimation>
    <mat-card-header>
      <mat-card-title>
        <span class="text-3xl font-bold">
          This portfolio is <br />a conversation starter.
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div>Say Hi!</div>
        <div class="grid grid-cols-12 gap-2">
          <div class="col-span-8 flex flex-col">
            <span class="text-2xl text-rose-800 font-bold">Quirin Langer</span>
            <span class="text-lg text-[#5F5F5F]">Software Engineer</span>
          </div>
          <a href="https://www.linkedin.com/in/quirin-langer" target="_blank" rel="noopener noreferrer" class="col-span-1 border-2 border-rose-800 rounded-lg flex items-center justify-center hover:bg-rose-800 hover:text-white transition-all duration-300 p-2 text-rose-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.22-.6-1.93-1.84-1.93-1.6 0-2.15 1.25-2.15 2.5V19h-3v-9h3v1.23a3.46 3.46 0 013.29-1.74c2.5 0 3.7 1.62 3.7 4.54z"/>
            </svg>
          </a>
          <a href="mailto:qu.langer@gmail.com" class="col-span-1 border-2 border-rose-800 rounded-lg flex items-center justify-center hover:bg-rose-800 hover:text-white transition-all duration-300 p-2 text-rose-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
            </svg>
          </a>
          <a href="https://www.instagram.com/suneeh1338/" target="_blank" rel="noopener noreferrer" class="col-span-1 border-2 border-rose-800 rounded-lg flex items-center justify-center hover:bg-rose-800 hover:text-white transition-all duration-300 p-2 text-rose-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M12 2.16c3.2 0 3.58.01 4.85.07 3.25.15 4.77 1.69 4.92 4.92.06 1.27.07 1.65.07 4.85s-.01 3.58-.07 4.85c-.15 3.23-1.66 4.77-4.92 4.92-1.27.06-1.64.07-4.85.07s-3.58-.01-4.85-.07c-3.26-.15-4.77-1.7-4.92-4.92-.06-1.27-.07-1.64-.07-4.85s.01-3.58.07-4.85C2.38 3.92 3.9 2.38 7.15 2.23c1.27-.06 1.64-.07 4.85-.07M12 0C8.74 0 8.33.01 7.05.07c-4.27.2-6.78 2.71-6.98 6.98C.01 8.33 0 8.74 0 12s.01 3.67.07 4.95c.2 4.27 2.71 6.78 6.98 6.98 1.28.06 1.69.07 4.95.07s3.67-.01 4.95-.07c4.27-.2 6.78-2.71 6.98-6.98.06-1.28.07-1.69.07-4.95s-.01-3.67-.07-4.95c-.2-4.27-2.71-6.78-6.98-6.98C15.67.01 15.26 0 12 0z"/>
              <path d="M12 5.84A6.16 6.16 0 1018.16 12 6.16 6.16 0 0012 5.84zM12 16a4 4 0 114-4 4 4 0 01-4 4z"/>
              <circle cx="18.41" cy="5.59" r="1.44"/>
            </svg>
          </a>
          <a href="https://github.com/Suneeh" target="_blank" rel="noopener noreferrer" class="col-span-1 border-2 border-rose-800 rounded-lg flex items-center justify-center hover:bg-rose-800 hover:text-white transition-all duration-300 p-2 text-rose-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
            </svg>
          </a>
        </div>
        <div>
          <p class="text-md text-center">&#169; {{ year() }} - Quirin Langer</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div>BiLang RIS Abschlussarbeit 2021</div>
<h2>Final Project: Automated Translation Middleware for JTL-Ecosystem</h2>
<p>For my final examination as a Software Developer, I designed and implemented a scalable solution to automate multilingual content management within the JTL e-commerce ecosystem. The project involved developing a C#/.NET desktop application and a RESTful API built with PHP and the Laravel framework.</p>
<h3>Key Features & Technologies:</h3>
<ul>
    <li>Automated Translation Pipeline: Integrated the DeepL API to provide high-quality, automated translations for product data, categories, and SEO content, significantly reducing manual effort and preventing data inconsistency.</li>
    <li>Middleware Architecture: Developed a custom Laravel-based API to handle communication between the shop systems and translation services, including usage metrics and billing logic.</li>
    <li>Data Integrity: Implemented secure data handling for MSSQL databases using the JTL-Ameise interface to ensure compatibility and stability within the Windows-based ERP environment.</li>
    <li>Full-Stack Development: Managed the project from conceptualization to implementation, utilizing MVC patterns, MySQL, and JSON-based communication to create a maintainable and extensible software architecture.</li>
  </ul>
<div>GMG Talk old school (https://www.linkedin.com/posts/quirin-langer_softwareengineering-mentoring-karriere-activity-7287430212554809344-Jn39)</div>
(immer stats mit abbilden. was habe ich verbessert? wie viel hat es gebracht?
usw. (mobile first design, performance optimizations, SEO optimizations))
LinkedIn Post of Gmg talk? Angular Days in Munich participation certificate?
<br />
<div>Zvoove era:</div>
<ul>
  <li>Frontend Angular v20, Signals, AuthGuards, Testing, Building Component Library</li>
  <li>Backend .NET 10, Minimal APIs, </li>
  <li>Scripting to build Communication Spec DTOs and Methods to connect to the Backend</li>
  <li>CI with Azure Pipelines and GitHub Actions (Checking Licenses, Auditing Dependencies, Building & Testing the Applications)</li>
  <li>CD to Azure & AWS using k8s and ArgoCD</li>
  <li>Observability with Prometheus & Grafana (Dashboards)</li>
  <li>Messaging with RabbitMQ</li>
  <li>Build and scaled a new Product from the 1st Customer to currently ~16.000 Customers</li>
  <li>Providing Microservices for other products within our company (how many?) (what does it help them with)</li>
  <li>Building a custom Ratelimiting for a User Faced Public API</li>
  <li>Being a mentor for Software Engineer trainees</li>
  <li>Doing Job Interviews for our company with the focus on Culture Fit</li>
</ul>
<br />
<h2>TODO:</h2>
<ul>
  <li>Fix Placeholders: Working on something? -> Videos / TikTok youtube shorts link?</li>
  <li>Fix URLs and buttons. Say Hi does nothing!</li>
</ul>
