<div class="px-5 md:px-45 py-5 min-h-screen">
  <div class="flex justify-between p-5 bg-rose-200 rounded-xl items-center" appScrollAnimation>
    <div class="flex items-center">
      <mat-icon class="mr-3">light_mode</mat-icon>
      <span class="text-rose-800 font-bold text-2xl">Quirin Langer</span>
    </div>
    <div class="hidden justify-between gap-5 md:flex">
      <div class="text-rose-800 uppercase font-bold">Projects</div>
      <div class="text-rose-800 uppercase font-bold">About</div>
      <div class="text-rose-800 uppercase font-bold">Resume</div>
    </div>
  </div>
  <div class="grid grid-cols-10 gap-5 mt-5 min-h-90/100">
    <div class="flex flex-col col-span-10 md:col-span-7 h-full">
      <div class="grid grid-cols-7 gap-5 mb-5">
        <mat-card class="col-span-7 md:col-span-4" appScrollAnimation>
          <mat-card-header class="hidden md:block">
            <mat-card-title><mat-icon>token</mat-icon></mat-card-title>
          </mat-card-header>
          <mat-card-content class="h-full flex content-end">
            <p class="text-2xl font-heading">Software Engineer, Petrol Head,</p>
            <p class="text-2xl font-heading">Pokémon Enthusiast, Idiot</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-7 md:col-span-3" appScrollAnimation>
          <img class="rounded-xl" src="/portrait.jpg" />
        </mat-card>
      </div>

      <div class="grid grid-cols-7 gap-5 h-full">
        <mat-card class="col-span-7 md:col-span-5" appScrollAnimation>
          <mat-card-header>
            <mat-card-title><mat-icon>person</mat-icon></mat-card-title>
          </mat-card-header>
          <mat-card-content class="h-full flex content-end">
            <p class="text-lg text-justify">
              <span class="italic font-bold">Servus, </span>I am Quirin, a
              professional Software Engineer based in Regensburg, Bavaria. I
              love to provide customers with well-functioning, easy-to-use and
              helpful software. I'm best known for explaining highly complex
              technical issues in an easy-to-understand manner.
            </p>
          </mat-card-content>
        </mat-card>
        <div class="col-span-7 md:col-span-2 gap-5 grid grid-cols-7">
          <mat-card class="col-span-5 md:col-span-7" appScrollAnimation>
            <mat-card-content>
              <p class="text-lg">
                Im currently working on something - Github Link ? CV LINK ?
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="col-span-2 md:col-span-7" appScrollAnimation>
            <mat-card-content>
              <div class="flex items-center justify-between">
                <span class="text-lg">Say Hi!</span>
                <mat-icon>arrow_right_alt</mat-icon>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="flex col-span-10 md:col-span-3 flex-col gap-5">
      <mat-card class="h-full" appScrollAnimation>
        <mat-card-header>
          <mat-card-title>
            <div class="flex">
              <mat-icon class="mr-3">newspaper</mat-icon>
              <span class="font-bold">Blogposts</span>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @for (item of blogEntries; track $index) { @if ($index !== 0) {
          <mat-divider></mat-divider>
          }
          <a
            target="_blank"
            rel="noopener noreferrer"
            [href]="item.href + $index"
            class="flex gap-5 items-center my-2"
          >
            <mat-icon class="m-3">{{ item.icon }}</mat-icon>
            <div>
              <p class="text-lg font-heading">{{ item.title }}</p>
              <p class="text-md text-[#5F5F5F]">{{ item.subtitle }}</p>
            </div> </a
          >}
        </mat-card-content>
      </mat-card>
      <div class="grid grid-cols-8 gap-5">
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="https://www.linkedin.com/in/quirin-langer"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg  font-bold">LinkedIn</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="https://github.com/Suneeh"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg  font-bold">Github</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="mailto:qu.langer@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg font-bold">Mail</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
        <mat-card class="col-span-4" appScrollAnimation>
          <mat-card-content>
            <a
              href="https://www.instagram.com/_suneeh/"
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center justify-between"
            >
              <span class="text-lg  font-bold">Instagram</span>
              <mat-icon>arrow_right_alt</mat-icon>
            </a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="px-5 md:px-45 py-5">
  <span class="text-3xl font-heading" appScrollAnimation>Featured Projects</span>
  <div class="mt-10 grid grid-cols-10 gap-5">
    @for (project of projectEntries; track $index) {
    <a target="_blank" rel="noopener noreferrer" [href]="project.url" class="col-span-10 md:col-span-5">
      <mat-card appScrollAnimation class="h-full">
        <img class="rounded-t-xl w-full" [src]="project.imageSrc" />
        <mat-card-header>
          <mat-card-title><span class="font-bold">{{ project.title }}</span></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-lg text-justify text-[#5F5F5F]">
            {{ project.description }}
          </p>
        </mat-card-content>
      </mat-card>
    </a>
    }
  </div>
</div>

<div class="px-5 md:px-45 py-5">
  <mat-card appScrollAnimation>
    <mat-card-header>
      <mat-card-title>
        <span class="text-3xl font-bold">
          This portfolio is <br />a conversation starter.
        </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div>Say Hi!</div>
        <div class="grid grid-cols-12 gap-2">
          <div class="col-span-8 flex flex-col">
            <span class="text-2xl text-rose-800 font-bold">Quirin Langer</span>
            <span class="text-lg text-[#5F5F5F]">Software Engineer</span>
          </div>
          <div class="col-span-1 border-2">In</div>
          <div class="col-span-1 border-2">Mail</div>
          <div class="col-span-1 border-2">Insta</div>
          <div class="col-span-1 border-2">Git</div>
        </div>
        <div>
          <p class="text-md text-center">&#169; {{ year() }} - Quirin Langer</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div>BiLang RIS Abschlussarbeit</div>
<div>GMG Talk old school</div>
(immer stats mit abbilden. was habe ich verbessert? wie viel hat es gebracht?
usw. (mobile first design, performance optimizations, SEO optimizations))
LinkedIn Post of Gmg talk? Angular Days in Munich participation certificate?
<br />
<div>Zvoove era:</div>
<ul>
  <li>Frontend Angular v20, Signals, AuthGuards, Testing, Building Component Library</li>
  <li>Backend .NET 10, Minimal APIs, </li>
  <li>Scripting to build Communication Spec DTOs and Methods to connect to the Backend</li>
  <li>CI with Azure Pipelines and GitHub Actions (Checking Licenses, Auditing Dependencies, Building & Testing the Applications)</li>
  <li>CD to Azure & AWS using k8s and ArgoCD</li>
  <li>Observability with Prometheus & Grafana (Dashboards)</li>
  <li>Build and scaled a new Product from the 1st Customer to currently ~16.000 Customers</li>
  <li>Providing Microservices for other products within our company</li>
</ul>
<br />
<h2>TODO:</h2>
<ul>
  <li>Fix Mobile View</li>
  <li>Get the Image of star piercing right</li>
  <li>Scroll to for the header links</li>
  <li>Animate social icons (and make component?)</li>
  <li>Hover Effects on &lt;a&gt; tags. Change Color</li>
</ul>
